footer {
  background-color: #0141c0;
  border-radius: 30px 30px 0 0;
  padding-top: 50px;
  padding-bottom: 2px;
}
footer img {
  width: 205px;
  object-fit: contain;
}
.gap-80 {
  gap: 80px;
}
.gap-20 {
  gap: 20px;
}
.footer-leftside {
  margin-bottom: 36px;
}
.topfooter {
  border-bottom: 1px solid #9e9d9d;
}
.downfooter {
  margin: 24px 0;
}
.footer-leftside h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-leftside ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}
.upbutton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d9d9d9;
  padding: 12px 0;
  text-align: center;
  right: 0;
}
.upbutton i {
  font-size: 24px;
  color: #000;
}
.copyright p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.icons {
  width: 20px;
  height: 20px;
  color: #ffffff;
  transition: all 0.2s;
}
.icons:hover {
  cursor: pointer;
  color: #000;
  scale: 1.2;
}
footer {
  background-color: #0141c0;
  border-radius: 30px 30px 0 0;
  padding-top: 50px;
  padding-bottom: 2px;
}
footer img {
  width: 205px;
  object-fit: contain;
}
.gap-80 {
  gap: 80px;
}
.gap-20 {
  gap: 20px;
}
.footer-leftside {
  margin-bottom: 36px;
}
.topfooter {
  border-bottom: 1px solid #9e9d9d;
}
.downfooter {
  margin: 24px 0;
}
.footer-leftside h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-leftside ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}
.upbutton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d9d9d9;
  padding: 12px 0;
  text-align: center;
  right: 0;
}
.upbutton i {
  font-size: 24px;
  color: #000;
}
.copyright p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.icons {
  width: 20px;
  height: 20px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer {
    height: 40vh;
  }
  footer img {
    width: 170px;
    object-fit: contain;
  }
  .gap-80 {
    gap: 45px;
  }
  .gap-10 {
    gap: 20px;
  }
  .leftside {
    margin-bottom: 36px;
  }
  .topfooter {
    border-bottom: 1px solid #9e9d9d;
    flex-direction: column;
    gap: 20px;
  }
  .downfooter {
    margin: 24px 0;
  }
  .footer-leftside h3 {
    font-size: 18px;
  }
  .footer-leftside ul li {
    font-size: 14px;
  }
  /* .upbutton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d9d9d9;
    padding: 12px 0;
    text-align: center;
    right: 0;
  } 
  .upbutton i {
    font-size: 24px;
    color: #000;
  } */
  .copyright p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  /* CSS styles specific to extra small devices */
  footer {
    height: 55vh;
  }
  footer img {
    width: 170px;
    object-fit: contain;
  }
  .gap-80 {
    gap: 20px;
  }
  .gap-10 {
    gap: 20px;
  }
  .leftside {
    margin-bottom: 36px;
  }
  .topfooter {
    border-bottom: 1px solid #9e9d9d;
  }

  .footer-leftside h3 {
    font-size: 15px;
  }
  .footer-leftside ul li {
    font-size: 12px;
    margin-bottom: 12px !important;
  }
  /* .upbutton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d9d9d9;
    padding: 12px 0;
    text-align: center;
    right: 0;
  } 
  .upbutton i {
    font-size: 24px;
    color: #000;
  } */
  .copyright {
    order: 1 !important;
  }
  .copyright p {
    font-size: 12px;
  }
  .downfooter {
    margin: 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social {
    order: 0 !important;
    margin-bottom: 1.2rem;
  }
}
/* Small devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* CSS styles specific to small devices */
  footer {
    height: 62vh;
  }
  footer img {
    width: 170px;
    object-fit: contain;
  }
  .gap-80 {
    gap: 45px;
  }
  .gap-10 {
    gap: 20px;
  }
  .leftside {
    margin-bottom: 36px;
  }
  .topfooter {
    border-bottom: 1px solid #9e9d9d;
  }
  .downfooter {
    margin: 24px 0;
  }
  .footer-leftside h3 {
    font-size: 18px;
  }
  .footer-leftside ul li {
    font-size: 14px;
  }
  /* .upbutton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d9d9d9;
    padding: 12px 0;
    text-align: center;
    right: 0;
  } 
  .upbutton i {
    font-size: 24px;
    color: #000;
  } */
  .copyright p {
    font-size: 18px;
  }
}
/* Medium devices (laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* CSS styles specific to medium devices */

  footer {
    height: 50vh;
  }
  footer img {
    width: 170px;
    object-fit: contain;
  }
  .gap-80 {
    gap: 20px;
  }
  .gap-10 {
    gap: 20px;
  }
  .leftside {
    margin-bottom: 36px;
  }
  .topfooter {
    border-bottom: 1px solid #9e9d9d;
  }

  .footer-leftside h3 {
    font-size: 15px;
  }
  .footer-leftside ul li {
    font-size: 12px;
    margin-bottom: 12px !important;
  }
  /* .upbutton {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #d9d9d9;
      padding: 12px 0;
      text-align: center;
      right: 0;
    } 
    .upbutton i {
      font-size: 24px;
      color: #000;
    } */
  .copyright {
    order: 1 !important;
  }
  .copyright p {
    font-size: 12px;
  }
  .downfooter {
    margin: 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social {
    order: 0 !important;
    margin-bottom: 1.2rem;
  }
}
